/* NavigationBar.css */
.navigation-bar {
    position: absolute; /* Position the navigation bar */
    top: 0; /* Align it to the top of the container */
    left: 0; /* Align it to the left of the container */
    z-index: 1001; /* Set a higher z-index to ensure it's on top */
    display: flex;
    justify-content: flex-start; /* Align items to the start of the container (left) */
  }
.navigation-bar {
    display: flex;
    justify-content: flex-start; /* Align items to the start of the container (left) */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: transparent;
    color: black;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  